github "https://github.com/BootcampCS-Set2019/bootcamp-components.git" "master"
github "https://github.com/BootcampCS-Set2019/bootcamp-resources.git" "master"
github "https://github.com/BootcampCS-Set2019/bootcamp-repositories.git" "master"
github "SnapKit/SnapKit" ~> 5.0.0